<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>tab-kat</title>
    <script src="index.js"></script>
    <script type="module">
      import { createApp, reactive } from 'https://unpkg.com/petite-vue?module';

      const store = reactive({
        id: '',
        updateId() {
          this.id = localStorage.getItem('id');
        },
      });

      store.updateId();

      createApp({
        store,
      }).mount('#app');
    </script>

    <title>Document</title>
  </head>
  <body id="app">
    <div class="spacer">
      <div id="notif" class="">pog</div>
    </div>
    <div class="box">
      <h1 class="pb-4 mlogo">tabby kat awa</h1>
      <form>
        <label>
          <span>URL</span>
          <input id="url" type="text" placeholder="nyacat.moe" />
        </label>
        <label>
          <span>Expire</span>
          <div class="flex gap-4 items-center">
            <input id="date" class="w-full" type="date" />
            <div class="flex items-center">
              <input id="expire" type="checkbox" class="pr-4" />
            </div>
          </div>
        </label>
        <input id="submit" type="submit" />
      </form>
    </div>

    <div class="p-2 pt-0 spacer">
      <div class="w-full"></div>
      <div class="flex flex-col h-full justify-between">
        <div v-scope="{ saveOpen: false }" class="flex text-transparent gap-2 hover-text justify-end hover:text-border">
          <div v-if="saveOpen" class="flex gap-2" v-cloak>
            <input v-model="store.id" class="h-6 ml-2 w-320px" type="text" />
            <svg class="text-border icon" viewBox="0 0 24 24" @click="save">
              <g>
                <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z" />
                <path d="M14 2v6h6m-8 10v-6m-3 3l3 3l3-3" />
              </g>
            </svg>
          </div>

          <span v-else class="whitespace-nowrap">Save id</span>

          <svg class="text-border icon" viewBox="0 0 24 24" @click="saveOpen = !saveOpen">
            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z" />
            <path d="M17 21v-8H7v8M7 3v5h8" />
          </svg>
        </div>
        <div
          v-scope="{ loadOpen: false, loadInputValue: '' }"
          class="flex text-transparent gap-2 hover-text justify-end hover:text-border"
        >
          <div v-if="loadOpen" class="flex" v-cloak>
            <svg class="opacity-80 text-red-500 icon" viewBox="0 0 24 24" @click="loadOpen = false">
              <path d="M18 6L6 18M6 6l12 12" />
            </svg>
            <svg class="opacity-80 text-blue-500 icon" viewBox="0 0 24 24" @click="load(loadInputValue)">
              <path d="M20 6L9 17l-5-5" />
            </svg>
            <input v-model="loadInputValue" class="h-6 ml-2 w-320px" type="text" />
          </div>

          <div v-else @click="loadOpen = !loadOpen">
            <span class="whitespace-nowrap">Load id</span>
          </div>

          <svg class="text-border icon" viewBox="0 0 24 24" @click="loadOpen = !loadOpen">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4m14-7l-5-5l-5 5m5-5v12" />
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
